.bio {
    padding: 0 1rem;
}
.bio .contact {
    display: flex;
    flex-flow: row wrap;
    margin-top: 0.25rem;
}

.bio .contact a {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
    margin-bottom: 0.25rem;
    padding: 0.25rem 0.5em;
    border-radius: var(--r);
    box-shadow: var(--shadow-s);
    text-decoration: none;
}

.bio .contact a:hover {
    transition: 0.2s;
    box-shadow: var(--shadow-l);
}

.bio .contact a > svg {
    margin-right: 0.5rem;
    width: 1.5rem;
}

@media screen and (max-width: 768px) {
    /* .bio .contact a {
        flex: 1;
    } */

    .bio .contact a svg {
        margin: 0;
    }

    .bio .contact a span {
        display: none;
    }
}
