.edu {
    position: relative;
    padding: 0 3rem;
}

.edu::before {
    content: '';
    position: absolute;
    left: 2rem;
    top: 0;
    width: 2px;
    height: 100%;
    background: var(--f-hl);
}

.edu .timeline-item {
    position: relative;
    margin-bottom: 40px;
}

/* 时间节点 */
.edu .timeline-item::before {
    content: '';
    position: absolute;
    left: -1rem;
    top: 0;
    transform: translate(-45%, 0);
    width: 1rem;
    height: 1rem;
    background: var(--f-hl);
    border-radius: 50%;
}

.edu .time {
    margin-bottom: 1rem;
    font-size: 0.9rem;
    font-weight: bold;
    color: var(--f-hl);
}

.edu .card {
    display: flex;
    align-items: start;
    flex-flow: row wrap;
    gap: 1rem;
}

.edu .logo {
    width: 4rem;
    height: 4rem;
}

.edu .logo > img {
    width: 100%;
    height: 100%;
}

/* 文字卡片 */
.edu .content {
    flex: 1;
}
