@import url(./pub.css);
@import url(./info.css);

.part {
    margin-top: 1em;
    padding: 1em;
    width: 100%;
    border-radius: var(--r);
    background-color: var(--bg);
    box-shadow: var(--shadow-l);
}

.part > h2 {
    margin-bottom: 1em;
    text-transform: uppercase;
    color: var(--f-light);
    background-color: var(--bg);
}
