@import url(./pub.css);
@import url(./info.css);

.part {
    margin-top: 1em;
    padding: 0em 1em;
    width: 100%;
    border-top: 2px dashed var(--title-color);
}

.part > h2 {
    color: var(--title-color);
    text-align: center;
    /* text-transform: uppercase; */
    /* border-bottom: 2px dashed var(--title-color); */
}
