.info .desc {
    margin-bottom: .5em;
    padding: 0.5em;
    border-radius: var(--r);
    box-shadow: var(--shadow-m);
}

.info * {
    background-color: var(--bg-light);
}

.info .enum {
    padding-left: 2em;
    list-style-type: circle;
}
