.info .desc {
    margin-top: 1rem;
    border-radius: var(--r);
}

.info .desc .title {
    font-weight: bold;
}

.info .enum {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: var(--r);
    box-shadow: var(--shadow-s);
}

.info .enum li::before {
    content: "⭐";
    margin-right: 0.5rem;
}

