.lab .lab-name {
    display: flex;
    align-items: center;
}

.lab .lab-detail {
    font-size: 0.8rem;
}

.lab .lab-stat {
    color: var(--f-hl);
    text-transform: uppercase;
    padding: 2px 8px;
}
