.pub .empty {
    width: 100%;
    align-items: center;
    text-align: center;
}

.pub .paper {
    margin-bottom: var(--subsec-gap);
    padding: 0 1rem;
}

.pub .title {
    color: var(--f-light);
    font-weight: bold;
}

.pub .title::first-letter {
    padding: 0.1rem;
    font-weight: bold;
    font-style: italic;
    color: var(--bg-dark);
    background-color: var(--f-hl);
    border-radius: 25%;
}

.pub .author,
.pub .author * {
    font-style: italic;
}

.pub .author > b {
    padding: 0 0.25rem;
    font-weight: bold;
    color: var(--f-hl);
}

.pub .row {
    /* margin-top: 0.5em; */
    display: flex;
    flex-flow: row wrap;
    gap: 0.25rem;
    font-weight: bold;
}

.pub .label {
    padding: 0em 0.5em;
    border-radius: var(--r);
    border: 1px solid var(--f-hl);
}

.pub .action {
    padding: 0.25rem 0.5rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: var(--r-l);
    border: none;
    color: var(--f-dark);
    background-color: var(--bg-dark);
}

.pub .action:hover {
    display: flex;
    transition: 0.25s;
    color: var(--f-hl);
    box-shadow: var(--shadow-l);
}

.pub .action svg {
    width: 1rem;
}

.pub .r-a {
    color: rgb(225, 95, 55);
}

.pub .r-b {
    color: rgb(245, 189, 66);
}

.pub .r-c {
    color: rgb(142, 186, 58);
}
