.pub .empty {
    width: 100%;
    align-items: center;
    text-align: center;
}

.pub .paper {
    margin-bottom: var(--subsec-gap);
    padding: 0 1rem;
}

.pub .title {
    color: var(--f-light);
    font-weight: bold;
}

.pub .title::first-letter {
    font-weight: bold;
    font-style: italic;
    color: var(--f-hl);
}

.pub .author,
.pub .author > * {
    font-size: 0.9rem;
    font-style: italic;
}
.pub .author > b {
    font-weight: bold;
    color: var(--f-hl);
}

.pub .row {
    margin-top: 0.5em;
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
}

.pub .label {
    padding: 0.25em 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    border-radius: var(--r);
    color: var(--bg-dark);
    background-color: var(--f-dark);
}

.pub .action {
    display: flex;
    flex-flow: row wrap;
    justify-content: right;
}

.pub .action a {
    display: flex;
    align-items: center;
    margin-left: 0.5em;
    text-decoration: none;
    border-radius: var(--r);
    padding: 0.5em;
    box-shadow: var(--shadow-s);
}

.pub .action a:hover {
    display: flex;
    transition: 0.25s;
    box-shadow: var(--shadow-l);
}

.pub .action a svg {
    margin-right: 0.5rem;
    width: 1.5rem;
}

.pub .r-a {
    color: rgb(225, 95, 55);
}

.pub .r-b {
    color: rgb(245, 189, 66);
}

.pub .r-c {
    color: rgb(142, 186, 58);
}
