.pub .empty {
    width: 100%;
    align-items: center;
    text-align: center;
}

.pub .paper-list {
    background-color: var(--bg);
}

.pub .paper-list * {
    background-color: var(--bg-light);
}

.pub .paper {
    margin-bottom: 0.5em;
    padding: 0.5em;
    border-radius: var(--r);
    box-shadow: var(--shadow-m);
}

.pub .title {
    color: var(--f-light);
    font-weight: bold;
}

.pub .author,
.pub .author > * {
    font-style: italic;
}
.pub .author > b {
    color: var(--f-light);
}

.pub .row {
    margin: 0.5em 0;
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
}

.pub .label {
    padding: 0.25em 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    border-radius: var(--r);
    box-shadow: var(--shadow-s);
    background-color: var(--bg-hl);
}

.pub .action {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    justify-content: right;
}

.pub .btn {
    margin-left: 0.5em;
    text-decoration: none;
    border-radius: var(--r);
    padding: 0 0.5em;
}

.pub .r-a {
    color: rgb(225, 95, 55);
}

.pub .r-b {
    color: rgb(245, 189, 66);
}

.pub .r-c {
    color: rgb(142, 186, 58);
}
