.detail {
    padding: 1em;
    display: flex;
    flex-flow: column;
}

.detail .detail-topic {
    display: flex;
    align-items: center;
    margin: 1em 0;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}

.detail .detail-item {
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0;
    width: 100%;
    box-shadow: 0 0 5px var(--background-color);
    border-radius: 5px;
    transition: .1s;
}

.detail .detail-item .detail-item-title {
    cursor: pointer;
    padding: 1em;
    width: 100%;
    line-height: 1.5em;
}

.detail .detail-item .detail-item-title.flattern {
    border-bottom: 1px dashed grey;
}

.detail .fold:hover {
    cursor: pointer;
    color: var(--hover-color);
    background-color: var(--hover-background-color);
}

.detail .detail-item .detail-item-desc {
    padding: 1em;
    width: 100%;
    line-height: 1.5em;
}

.detail .detail-item .detail-item-action {
    display: flex;
    padding: 0.5em;
    width: 100%;
    justify-content: right;
}
