.shared-cards {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    padding: 0 1rem;
}

.shared-cards .shared-card-item {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 0.25rem 0.5rem;
    border-radius: var(--r);
    border: 1px solid var(--f-hl);
}
