/* global settings */
:root {
    --cls: black;
    --font: white;
    --tag: rgb(140, 0, 255);
    --category: rgb(0, 172, 80);
    --highlight: rgb(3, 239, 176);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

html::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: var(--cls);
}

html::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--highlight);
}

html::-webkit-scrollbar-button {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--tag);
}

/* keyframe */
@keyframes bounse {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10%);
    }
    100% {
        transform: translateY(0);
    }
}

/* nav */
.nav {
    z-index: 200;
    position: sticky;
    top: 0;
    display: flex;
    width: 100%;
    height: 64px;
    background-color: var(--cls);
    color: var(--font);
}

.nav .logo {
    font-size: 32px;
    font-weight: 800;
    width: 128px;
    height: 64px;
    line-height: 64px;
    text-align: center;
}

.nav .menu {
    display: flex;
}

.nav .menu-item {
    margin: 0 1em;
    line-height: 64px;
    height: 64px;
}

.nav .menu-item a {
    position: relative;
    display: inline-block;
    font-weight: bold;
    color: var(--font);
}

.nav .menu-item a.active {
    color: var(--highlight);
}

.nav .menu-item a:hover {
    animation: bounse 0.2s;
    color: var(--highlight);
}

.nav .menu-item a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: var(--highlight);
    transition: 0.5s;
}

.nav .menu-item a:hover::after {
    width: 100%;
}

/* layout */
.layout {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 1em;
    width: 80%;
    min-height: 800px;
}

/* main */
.main {
    margin-bottom: 2em;
    width: 70%;
}
/* sidebar */
.sidebar {
    width: 25%;
}

/* card */
.card {
    padding: 10px;
    width: 100%;
    box-shadow: 2px 2px 10px grey;
}

/* doc-recommend */
.doc-recommend h3 {
    display: flex;
    margin: 10px 0;
}

.doc-recommend .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
}

.doc-recommend ul li {
    position: relative;
    margin: 5px 0;
    padding: 5px 0;
    transition: 0.25s;
    border-radius: 5px;
}

.doc-recommend ul li:hover {
    cursor: pointer;
    background-color: var(--cls);
}

.doc-recommend ul li:hover .title {
    cursor: pointer;
    color: var(--font);
}

.doc-recommend ul li:hover .topic {
    cursor: pointer;
    color: var(--cls);
    background-color: var(--highlight);
}

.doc-recommend .title {
    display: inline-block;
    padding-left: 1em;
    max-width: 200px;
    overflow: hidden;
    height: 32px;
    line-height: 32px;
    color: green;
    font-weight: 500;
}

.doc-recommend .topic {
    z-index: 100;
    position: absolute;
    right: 5px;
    padding: 0 1em;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-weight: bold;
    color: var(--font);
    border-radius: 20px;
    background-color: var(--tag);
    transition: 0.25s;
}

/* article */
.article {
    position: relative;
}
.article .title {
    display: flex;
    margin: 1em 0 0.2em 0;
    line-height: 64px;
    height: 64px;
}
.article .title .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    color: var(--tag);
}
.article .time {
    position: absolute;
    right: 0;
    font-style: italic;
}
.article .content {
    margin-top: 2em;
}

/* blockarea */
.blockarea .area {
    margin: 1em;
}
.blockarea .topic {
    display: flex;
    margin: 1em 0 0.2em 0;
}
.blockarea .topic .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    color: var(--category);
}
.blockarea .item {
    cursor: pointer;
    position: relative;
    padding: 10px;
    transition: 0.25s;
}

.blockarea .item:hover {
    background-color: var(--cls);
    color: var(--font);
    border-radius: 0 0 20px 20px;
}

.blockarea .item:hover .icon {
    color: var(--tag);
}

.blockarea .item .title {
    display: flex;
    height: 32px;
    line-height: 32px;
}
.blockarea .item .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    color: var(--category);
}
.blockarea .item .time {
    position: absolute;
    right: 10px;
    font-style: italic;
}
.blockarea .item .abstract {
    padding: 10px;
    text-indent: 2em;
}
