@import url('./nav.css');

:root {
    --cls: rgb(156, 156, 156);
    --font: rgb(0, 0, 0);
    --tag: rgb(140, 0, 255);
    --category: rgb(0, 172, 80);
    --highlight: rgb(3, 239, 176);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

html::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: var(--cls);
}

html::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--highlight);
}

html::-webkit-scrollbar-button {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--tag);
}
