.block {
    position: relative;
    margin: 2.5em auto;
    padding: 4em 1em 1em 1em;
    width: 60%;
}

@media screen and (max-width: 768px) {
    .block {
        margin: 5em 1em 1em 1em;
        width: auto;
    }
}

.block > .title {
    position: absolute;
    top: -1.5em;
    left: 50%;
    transform: translateX(-50%);
    display: block;

    /* font property */
    font-size: 2.5em;
    line-height: 3em;
    letter-spacing: 0.2em;
    
    /* gradient */
    background: linear-gradient(to right, var(--hover) 10%, var(--inner) 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.block > .title::first-letter {
    font-size: 2em;
    font-weight: bold;
}

.block > * {
    color: var(--inner);
}

.block > .title::first-letter {
    text-transform: uppercase;
}
