#preview {
    margin-top: 1em;
    margin-bottom: 5em;
    transition: .1s;
}

#preview #preview-title {
    display: flex;
    flex-wrap: wrap;
}
#preview #preview-title > *{
    margin: 1px;
}

#preview #preview-content {
    padding: 0;
}

#preview #footer{
    display: flex;
    padding: 1em 0;
    flex-flow: column;
    align-items: end;
}
