#preview {
    margin-top: 1em;
    margin-bottom: 5em;
    transition: 0.1s;
}

#preview #preview-title {
    display: flex;
    flex-wrap: wrap;
}

#preview #preview-title > span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#preview #preview-title > span h1 {
    line-height: 2em;
    text-align: center;
}
#preview #preview-title > span ion-icon {
    width: 2em;
    height: 2em;
}

#preview #preview-title > * {
    margin: 1px;
}

#preview #preview-content {
    margin: 1em 0;
    padding: 0;
}

#preview #footer {
    display: flex;
    padding: 1em 0;
    flex-flow: column;
    align-items: end;
}
