#home-sidebar {
    position: fixed;
    right: 5%;
    padding: 1em;
    background-color: var(--background-color);
    color: var(--foreground-color);
    border-radius: 5px;
}

#home-sidebar #home-sidebar-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px dashed grey;
}

#home-sidebar #outline li {
    margin-top: 1em;
}

#home-sidebar #outline li > span:hover {
    background-color: var(--foreground-color);
    color: var(--background-color);
    border-radius: 5px;
}

#home-sidebar #outline .vditor-outline__item--current {
    background-color: var(--foreground-color);
    color: var(--background-color);
    border-radius: 5px;
}

