#nav {
    /* height: 64px; */
    padding: 0 20%;
    box-shadow: 0 1px 5px black;
}

#nav #logo {
    height: 64px;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    line-height: 64px;
}

@media screen and (max-width: 768px) {
    #nav {
        padding: 0;
    }
    #nav #logo {
        width: 100%;
        border-bottom: 2px dashed gray;
    }
}

#nav a {
    cursor: pointer;
    margin: 0 1em;
    height: 64px;
}

#nav a:hover {
    text-decoration: underline dashed;
    font-weight: bold;
}

#nav .is_active {
    text-decoration: underline dashed;
    font-weight: bold;
    text-transform: uppercase;
}

#nav svg {
    width: 24px;
}
