/** keyframe **/
@keyframes bounse {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10%);
    }
    100% {
        transform: translateY(0);
    }
}

/** nav **/
#nav {
    z-index: 200;
    display: flex;
    flex-flow: wrap;
    width: 100%;
    min-height: 64px;
    background-color: var(--background-color);
    color: var(--foreground-color);
}

/** title **/
#nav #title {
    cursor: default;
    padding: 0 2.5em;
    font-size: 24px;
    font-weight: bold;
    height: 64px;
    line-height: 64px;
    text-align: center;
}

/** menu **/
#nav .menu {
    display: flex;
    flex-wrap: wrap;
}

/** menu item **/
#nav .menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1em;
    line-height: 64px;
    height: 64px;
}

/** span **/
#nav .menu-item span {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: var(--foreground-color);
}

#nav .menu-item span.active {
    cursor: default;
    color: var(--highlight-color);
}

#nav .menu-item span.deactive:hover {
    animation: bounse 0.2s;
    color: var(--highlight-color);
}

#nav .menu-item span.deactive::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: var(--highlight-color);
    transition: 0.5s;
}

#nav .menu-item span.deactive:hover::after {
    width: 100%;
}

/** space **/
#nav .space {
    flex-grow: 1;
}
