.archieve-collection {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2em;
    padding: 5px;
    padding-top: 1.5em;
    border-radius: 10px;
    background-color: var(--background-color);
}

.archieve-collection:hover {
    transition: 0.1s;
    border-left: 2px solid var(--tag-background-color);
}

.archieve-collection .legend {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 0.2em 1em;
    left: 1em;
    top: 0;
    transform: translateY(-50%);
    font-weight: bold;
    color: var(--tag-color);
    background-color: var(--tag-background-color);
    border-radius: 5px;
}

.archieve-item {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-bottom: 5px;
    width: 49.5%;
    border-radius: 5px;
    background-color: var(--second-background-color);
    transition: 0.1s;
}

@media screen and (max-width: 768px) {
    .archieve-item {
        width: 100%;
    }
}

.archieve-item .archieve-item-title {
    display: flex;
    align-items: center;
    padding-left: 1em;
    width: 100%;
    line-height: 2em;
    font-weight: bold;
}

.archieve-item .archieve-item-title ion-icon {
    flex: 0 0 16px;
}

.archieve-item .archieve-item-time {
    display: flex;
    margin-top: 1em;
    justify-content: end;
    align-items: center;
}

.archieve-item .archieve-item-time ion-icon {
    flex: 0 0 16px;
}

.archieve-item:hover {
    cursor: pointer;
    color: var(--hover-color);
    background-color: var(--hover-background-color);
}
