#archieve-sidebar {
    margin: 3em 0;
}

#archieve-sidebar .archieve-collection:hover {
    border-top: 2px solid var(--tag-background-color);
    border-left: none;
}

#archieve-sidebar .archieve-collection .legend {
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
}

#archieve-sidebar .archieve-collection .archieve-item {
    width: 100%;
}

#archieve-sidebar .archieve-collection .archieve-item:hover .archieve-item-title ion-icon {
    color: red;
}
