#link {
    display: grid;
    padding: 0 1em;
    width: 100%;
    grid-template-columns: 50% 50%;
    gap: 1em;
}

#link .profile {
    justify-content: start;
    width: 100%;
    box-shadow: 0 0 5px 1px gray;
}

#link .profile > .avatar {
    padding: 1em;
    flex: 20%;
    /* height: 100%; */
    border-right: 2px dashed black;
}

#link .profile > .avatar > img {
    width: 100%;
    border-radius: 50%;
}

#link .profile > .intro {
    padding: 0 1em;
    flex: 80%;
    height: 100%;
}

#link .profile > .intro > span {
    font-size: 2em;
    font-weight: bold;
    word-break: break-all;
}

#link .profile > .intro > a {
    line-height: 2em;
    color: red;
    padding: 0 0.5em;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

#link .profile > .intro > a > svg {
    width: 2em;
}

#link .profile > .intro > a:hover {
    color: blue;
}

@media screen and (max-width: 1080px) {
    #link {
        display: grid;
        width: 100%;
        grid-template-columns: 100%;
    }
}
