#link-list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

#link-list > li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    padding: 0.5em;
    background-color: var(--inner);
}

#link-list > li > img {
    width: 64px;
    border-radius: 32px;
}

#link-list > li > .nickname {
    font-weight: bold;
}

#link-list > li > button {
    margin: 0.5em 0;
    padding: 0 1em;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    background-color: transparent;
    border: 1px solid var(--outer);
    border-radius: 5px;
}

#link-list > li > button:hover {
    color: var(--btn-hover-color);
    background-color: var(--btn-hover-bg-color);
}
