#link-list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
}

#link-list > li {
    flex: 1;
    margin: 0.5em;
    padding: 1em;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--inner);
}

#link-list > li > .avatar {
    display: flex;
    width: 64px;
    height: 64px;
    align-items: center;
    border-radius: 32px;
    overflow: hidden;
}

#link-list > li > .avatar > img {
    width: 64px;
}

#link-list > li > .nickname {
    color: var(--outer);
    font-size: 1.5em;
    font-weight: bold;
}

#link-list > li > button {
    margin: 0.5em 0;
    padding: 0 1em;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    background-color: transparent;
    border: 1px solid var(--outer);
    border-radius: 5px;
    transition: 0.25s;
    color: var(--outer);
}

#link-list > li > button:hover {
    color: var(--hover);
    background-color: var(--outer);
}
