.list-container {
    margin-top: 1em;
    padding: 1em;
    list-style: none;
    color: var(--outer);
    background-color: var(--inner);
}

.list-container:first-child {
    margin: 0;
}

.shadow {
    border-radius: 5px;
    box-shadow: 0 0 0.5em var(--shader);
}
