@import url(./themes.css);
@import url(./common.css);
@import url(./pages/index.css);
@import url(./components/index.css);

@font-face {
    font-family: 'Comic Sans MS';
    src: url(../assets/comic.ttf);
}

* {
    color: var(--d-font-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 2em;
    font-family: 'Comic Sans MS', sans-serif;
    transition: 0.25s;
}

ul {
    padding: 0;
    list-style: none;
}

body {
    background-color: var(--outer);
}
