#light {
    --outer: #ffffff;
    --inner: #000000;
    --hover: #0f8000;
    --shader: #3b3b3b;
    /* a */
    --a-color: #ff0000;
    --a-hover-color: #f6ff00;
}

#dark {
    --outer: #000000;
    --inner: #ffffff;
    --hover: #00fffb;
    --shader: #aaaaaa;
    /* a */
    --a-color: #ff0000;
    --a-hover-color: #9000ff;
}
