#friendlink > ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

#friendlink > ul > li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    padding: 0.5em;
    border: 2px dashed var(--sec-shader-color);
    border-radius: 5px;
}

#friendlink > ul > li > img {
    width: 64px;
    border-radius: 32px;
}

#friendlink > ul > li > .nickname {
    text-transform: uppercase;
    font-weight: bold;
}
