
#bg {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    background-image: url('/images/pc.jpg');
    background-size: cover;
    opacity: 0.4;
}
#bg:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;
    background-color: var(--background-color);
    backdrop-filter: blur(10px);
}

@media screen and (max-width: 1080px) {
    #bg {
        z-index: -1;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        min-height: 100vh;
        background-image: url('/images/phone.jpg');
        background-size: cover;
        opacity: 0.3;
    }
}
