@font-face {
    font-family: JetBrainsMono-Regular;
    src: url(/statics/JetBrainsMono-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: JetBrainsMono-Regular, sans-serif;
}

ul {
    list-style-type: decimal;
    padding-left: 2em;
}

a {
    color: #ff0000;
    text-decoration: underline dashed;
    transition: 0.25s;
}
a:hover {
    color: rgb(128, 0, 255);
}
:root {
    --nav-color: #000000;
    --font-color: #ffffff;
    --hover-color: #00fffb;
}

.wrapper {
    margin: 0 auto;
    width: 70%;
}

section > h1 {
    margin: 1em 0;
}

@media screen and (max-width: 768px) {
    .wrapper {
        margin: 0 auto;
        width: 90%;
    }
}
