@import url(/styles/section/base.css);
@import url(/styles/nav.css);
:root {
    /* font */
    --d-font-color: #000000;
    /* a */
    --a-color: #ff0000;
    --a-hover-color: #9000ff;
    /* nav */
    --nav-bg-color: #000000;
    --nav-font-color: #ffffff;
    --nav-hover-color: #00fffb;
    /* section */
    --sec-shader-color: #828282;
    --hover-block-color: #000000;
    --hover-font-color: #d3adff;
    /* tag */
}

* {
    color: var(--d-font-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul {
    padding-left: 1em;
}

a {
    color: var(--a-color);
    text-decoration: underline dashed;
    transition: 0.25s;
}
a:hover {
    color: var(--a-hover-color);
}

.wrapper {
    margin: 0 auto;
    width: 70%;
}


@media screen and (max-width: 768px) {
    .wrapper {
        margin: 0 auto;
        width: 90%;
    }
}
