@import url(/styles/section/index.css);
@import url(/styles/nav.css);
@import url(/styles/footer.css);
@import url(/styles/common.css);
:root {
    --outer: #000000;
    --inner: #ffffff;
    /* font */
    --d-font-color: #000000;
    /* a */
    --a-color: #ff0000;
    --a-hover-color: #9000ff;
    /* nav */
    --nav-bg-color: #000000;
    --nav-font-color: #ffffff;
    --nav-hover-color: #00fffb;
    /* section */
    --sec-shader-color: #aaaaaa;
    --hover-block-color: #000000;
    --hover-font-color: #d3adff;
    /* tag */
    --tag-font-color: #00ff99;
    --tag-bg-color: #000000;
    /* button */
    --btn-bg-color: #000000;
    --btn-font-color: #ffffff;
    --btn-hover-color: #00fffb;
}

@font-face {
    font-family: VictorMono-SemiBold;
    src: url(/assets/VictorMono-SemiBold.ttf);
}

* {
    color: var(--d-font-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 2em;
    font-family: VictorMono-SemiBold, sans-serif;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    color: var(--a-color);
    text-decoration: none;
    transition: 0.25s;
    line-height: 1em;
}

a:hover {
    font-size: 1.5em;
    color: var(--a-hover-color);
}

.wrapper {
    margin: 0 auto;
    padding: 2em 0;
    width: 70%;
    min-height: 100vh;
}
body {
    background-color: var(--outer);
}
#hello-world {
    z-index: -2;
    position: fixed;
    top: 50%;
    left: 50%;
    font-size: 6rem;
    transform: translate(-50%, -50%) rotate(-30deg);
    overflow: hidden;
    color: var(--sec-shader-color);
    opacity: 0.5;
}

@media screen and (max-width: 768px) {
    .wrapper {
        margin: 0 auto;
        width: 100%;
    }
}
