@import url(/styles/nav.css);
@import url(/styles/footer.css);
@import url(/styles/common.css);
@import url(/styles/themes.css);
@import url(/styles/section/index.css);

@font-face {
    font-family: 'Comic Sans MS';
    src: url(/assets/comic.ttf);
}

* {
    color: var(--d-font-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 2em;
    font-family: 'Comic Sans MS', sans-serif;
    transition: 0.25s;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    color: var(--a-color);
    text-decoration: none;
    font-weight: bold;
    line-height: 1em;
}

a:hover {
    font-size: 1.5em;
    color: var(--a-hover-color);
}

.wrapper {
    margin: 0 auto;
    padding: 2em 0;
    width: 70%;
    min-height: 100vh;
}

body {
    background-color: var(--outer);
}

#hello-world {
    z-index: -2;
    position: fixed;
    top: 50%;
    left: 50%;
    font-size: 6rem;
    transform: translate(-50%, -50%) rotate(-30deg);
    overflow: hidden;
    color: var(--sec-shader-color);
    opacity: 0.5;
}

@media screen and (max-width: 768px) {
    .wrapper {
        margin: 0 auto;
        width: 100%;
    }
    #hello-world {
        font-size: 3rem;
        transform: translate(-50%, -30%) rotate(-30deg);
    }
}
