@import url('/styles/theme.css');
/* components */
@import url('/styles/components/nav.css');
@import url('/styles/components/layout.css');
@import url('/styles/components/addition.css');

/* pages */
@import url('/styles/pages/home/components/markdownPreview.css');
@import url('/styles/pages/home/components/sidebar.css');
@import url('/styles/pages/archieve/components/archieveItem.css');
@import url('/styles/pages/archieve/components/sidebar.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}
