#nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 0 15%;
    width: 100%;
    background-color: var(--nav-bg-color);
}

#nav #name {
    color: var(--nav-font-color);
    height: 64px;
    line-height: 64px;
    font-size: 2em;
    font-weight: bold;
}

#nav a {
    color: var(--nav-font-color);
    position: relative;
    margin: 0 1em;
    height: 64px;
    line-height: 64px;
    font-size: 1.25em;
    font-weight: bold;
    transition: 0.1s;
    text-decoration: none;
}

#nav a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0%;
    height: 80%;
    border-bottom: 2px solid var(--nav-bg-color);
    transition: 0.25s;
}

#nav a:hover {
    cursor: pointer;
    color: var(--nav-hover-color);
}

#nav a:hover::after {
    left: 0%;
    width: 100%;
    border-bottom: 2px solid var(--nav-hover-color);
}

@media screen and (max-width: 1080px) {
    #nav {
        width: 100%;
        padding: 0 5%;
    }

    #nav #name {
        width: 100%;
        text-align: center;
    }
}
