#paper-list .tag-list {
    display: flex;
    flex-wrap: wrap;
}

#paper-list .tag {
    cursor: default;
    margin-top: 0.5em;
    margin-right: 0.5em;
    padding: 0 0.5em;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px dashed;
    border-radius: 5px;
}

@media screen and (max-width: 1080px) {
    #paper-list .tag {
        width: 100%;
        text-align: center;
    }
}
