.card {
    justify-content: start;
    width: 100%;
    padding: 1em;
    box-shadow: 0 0 5px 1px gray;
}

.card > * {
    width: 100%;
}

.card > .title {
    position: relative;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 2em;
    line-height: 2em;
    padding-left: 1.5em;
}

.card > .title svg {
    position: absolute;
    left: 0;
    width: 1.5em;
    height: 1.5em;
}
