.paper {
    margin-top: 1em;
    padding-bottom: 0.5em;
    border-bottom: 2px solid purple;
}
.paper:first-child {
    margin-top: 0;
}

.paper > .paper-index {
    margin-right: 0.5em;
    padding: 0 0.5em;
    font-weight: bold;
    border-radius: 5px;
    color: white;
    background-color: purple;
}

.paper > a {
    font-weight: bold;
    text-decoration: none;
    color: red;
}

.paper > a:hover {
    font-weight: bold;
    color: blue;
}

.paper > .tag-list > .tag {
    cursor: default;
    margin-top: 0.5em;
    margin-right: 0.5em;
    padding: 0 0.5em;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px dashed;
    border-radius: 5px;
}
