.project > .project-index {
    margin-right: 0.5em;
    padding: 0 0.5em;
    font-weight: bold;
    border-radius: 5px;
    background-color: rgb(255, 0, 255);
}

.project > .title {
    width: 100%;
    font-weight: bold;
}

.project > a {
    font-weight: bold;
    text-decoration: none;
    color: red;
}

.project > a:hover {
    font-weight: bold;
    color: blue;
}

.project > .tag-list > .tag {
    cursor: default;
    margin-top: 0.5em;
    margin-right: 0.5em;
    padding: 0 0.5em;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px dashed;
    border-radius: 5px;
}

.project .ad {
    padding: 1em 0;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 5px;
}

.project .ad img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

@media screen and (max-width: 1080px) {
    .project .ad {
        grid-template-columns: 100%;
    }
}
